@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:regular,700);
@import url(https://fonts.googleapis.com/css?family=Dosis:300,400,700);

:root {
  --main-blue: #2b4074;
  --bg-old-lace: #f9f6e5;
}

.container {
  max-width: 1138px;
  margin: 0 auto;
}

.wide-container {
  max-width: 1138px;
  margin: 0 auto;
}

header {
  background-color: var(--main-blue);
}

.header__content {
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 100px;
  height: 66px;
  /* position: absolute;
  left: 61px;
  top: 17px; */
  background: url(/di-gi/images/logo.png);
  cursor: pointer;
}

.menu-button-container {
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  /* position: absolute;
 width: 40px;
  height: 40px;
  left: 0px;
  top: 0px; */
  background: #ffffff;
  border-radius: 3px;
  cursor: pointer;
}

.menu-button-text {
  width: 12px;
  height: 10px;
  /* font-family: 'Roboto';
  font-weight: 400; */
  /* color: #2b4074; */
  background: url(/di-gi/images/burger-menu.svg);
  background-repeat: no-repeat;
  /* background-position: center; */
}

#intro {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/di-gi/images/bg-img.jpg);
  background-size: cover;
}

.opacity {
  height: 668px;
  /* background: rgba(33, 33, 33, 0.5); */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.title-text {
  color: #ffffff;
  /* width: 513px; */
  width: 68vw;
  height: 192px;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 96px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0 auto;
}

.intro-text {
  margin: 20px auto;
  width: 886px;
  height: 60px;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.read-more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  background: #2b4074;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.text-on-blue-button {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #f9f6e5;
  text-transform: uppercase;
  cursor: pointer;
}

.pagination-white {
  display: flex;
  justify-content: center;
}

.white-circle {
  width: 14px;
  height: 14px;
  background: #fff;
  border-radius: 50%;
  margin: 0px 5px;
}

.blue-circle {
  width: 14px;
  height: 14px;
  background: var(--main-blue);
  border-radius: 50%;
  margin: 0px 5px;
}

.blue-circle-border {
  width: 10px;
  height: 10px;
  border: 2px solid var(--main-blue);
  border-radius: 50%;
  margin: 0px 5px;
}

.white-circle-border {
  width: 10px;
  height: 10px;
  border: 2px solid #fff;
  border-radius: 50%;
  margin: 0px 5px;
  background: none;
}

.arrow {
  position: absolute;
  right: 0;
  width: 70px;
  height: 141px;
  cursor: pointer;
}

.arrow-back {
  /* position: absolute;
  left: 0px;
  top: 0px; */
  width: 70px;
  height: 70px;
  background: #2b4074;
}

.arrow-forward {
  /* position: absolute;
  left: 0px;
  top: 71px; */
  width: 70px;
  height: 70px;
  background: #f9f6e5;
}

.white-rect {
  position: absolute;
  left: 29px;
  top: 26px;
  width: 18px;
  height: 18px;
  background: #dadada;
  transform: rotate(-45deg);
}

.blue-rect {
  position: absolute;
  left: 35px;
  top: 26px;
  width: 18px;
  height: 18px;
  background: #2b4074;
  transform: rotate(-45deg);
}

.grey-rect {
  position: absolute;
  left: 24px;
  top: 96px;
  width: 18px;
  height: 18px;
  background: #969696;
  transform: rotate(135deg);
}

.yellow-rect {
  position: absolute;
  left: 19px;
  top: 96px;
  width: 18px;
  height: 18px;
  background: #f9f6e5;
  transform: rotate(135deg);
}

.opacity-carousel {
  display: none;
}

.active-opacity-carousel {
  display: block;
}

#promo {
  background: var(--main-blue);
}

.promo-container {
  height: 192px;
  background: var(--main-blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.promo-title {
  /* width: 557px; */
  height: 32px;
  padding-bottom: 15px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
}

.promo-text {
  /* width: 557px; */
  height: 42px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.call-me {
  width: 200px;
  height: 50px;
  background: #f9f6e5;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-call-me {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #2b4074;
  text-transform: uppercase;
  cursor: pointer;
  padding: 5px;
}

#services {
  height: 547px;
}

.services-container {
  display: flex;
  justify-content: space-between;
}

.service-logo {
  width: 145px;
  height: 56px;
  font-family: 'Roboto Condensed';
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  color: #2b4074;
}

.service-line {
  width: 98.74px;
  height: 8px;
  background: #2b4074;
}

.service-slogan {
  width: 393px;
  height: 60px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #4a4a4a;
}

.service-text-slogan {
  width: 351px;
  height: 68px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #797979;
}

.service-before-items {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.service-items {
  width: 65%;
  height: 545px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.service {
  justify-content: flex-start;
  width: 25%;
  height: 50%;
  border: 1px solid #f9f6e5;
  box-sizing: border-box;
}

.service-obj {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
}

.service-text {
  width: 170px;
  height: 20px;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
  color: #4a4a4a;
}

.service-1pic {
  width: 54px;
  height: 64px;
  /* margin: auto; */
  background: url(/di-gi/images/service_1.png);
  background-repeat: no-repeat;
}

.service-2pic {
  width: 54px;
  height: 64px;
  /* margin: auto; */
  background: url(/di-gi/images/service_2.png);
  background-repeat: no-repeat;
}

.service-3pic {
  width: 64px;
  height: 64px;
  /* margin: auto; */
  background: url(/di-gi/images/service_3.png);
  background-repeat: no-repeat;
}

.service-4pic {
  width: 64px;
  height: 64px;
  /* margin: auto; */
  background: url(/di-gi/images/service_4.png);
  background-repeat: no-repeat;
}

.service-5pic {
  width: 64px;
  height: 64px;
  /* margin: auto; */
  background: url(/di-gi/images/service_5.png);
  background-repeat: no-repeat;
}

.service-6pic {
  width: 64px;
  height: 64px;
  /* margin: auto; */
  background: url(/di-gi/images/service_6.png);
  background-repeat: no-repeat;
}

.service-7pic {
  width: 64px;
  height: 64px;
  /* margin: auto; */
  background: url(/di-gi/images/service_7.png);
  background-repeat: no-repeat;
}

.service-8pic {
  width: 64px;
  height: 64px;
  /* margin: auto; */
  background: url(/di-gi/images/service_8.png);
  background-repeat: no-repeat;
}

.service-obj {
  /* width: 170px; */
  height: 272px;
  margin: 0 auto;
}

.service-text-desc {
  display: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #9b9b9b;
  width: 176px;
  height: 48px;
}

.service-full {
  display: none;
  width: 180px;
  height: 24px;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
  color: #2b4074;
}

.service:hover .service-text-desc {
  display: flex;
}

.service:hover .service-full {
  display: block;
}

.service:hover {
  outline: 4px solid #2b4074;
  outline-offset: -8px;
}

#recent-work {
  background-image: linear-gradient(#2c4274, #eff0f4);
}

.recent-work {
  height: 618px;
  display: flex;
  flex-wrap: wrap;
}

.recent-title {
  position: relative;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  top: 60px;
  color: #ffffff;
  text-transform: capitalize;
  width: 100%;
  padding: 0 0 120px 0;
}

.recent-title:before {
  content: '';
  position: absolute;
  top: 75px;
  left: 46%;
  width: 8%;
  border-bottom: 8px solid rgb(255, 255, 255);
}

.recent-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.portfolio {
  width: 268px;
  height: 239px;
  background: rgba(0, 0, 0, 0.0001);
  box-shadow: 0px 4px 4px rgba(71, 110, 77, 0.351506);
  border-radius: 4px;
}

.potrfolio1 {
  background: url(/di-gi/images/portfolio-1.png);
}

.potrfolio2 {
  background: url(/di-gi/images/portfolio-2.png);
}

.potrfolio3 {
  background: url(/di-gi/images/portfolio-3.png);
}

.potrfolio4 {
  background: url(/di-gi/images/portfolio-4.png);
}

.portfolio:hover .portfolio-info {
  /* display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center; */
}

.project-img:hover .portfolio-infoo {
  display: flex;
}

.portfolio-infoo {
  display: none;
  position: absolute;
  top: 5%;
  width: 90%;
  height: 90%;
  background: #f9f6e5;
  opacity: 0.83;
  border-radius: 4px;
  margin: 0 5% 5% 5%;
  justify-content: center;
  align-items: center;
}

.info-btn {
  margin: 0 10px 0 0;
}

.portfolio-text {
  position: relative;
  text-align: center;
  top: 280px;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
  color: #2b4074;
}

.portfolio-info {
  display: none;
  max-width: 100%;
  height: 90%;
  background: #f9f6e5;
  mix-blend-mode: normal;
  opacity: 0.83;
  border-radius: 4px;
  margin: 0 5% 5% 5%;
  transform: translate(0, -3.5%);
}

.project-img {
  position: relative;
}

.portfolio-infoo {
  display: none;
  position: absolute;
  top: 5%;
  width: 90%;
  height: 90%;
  background: #f9f6e5;
  mix-blend-mode: normal;
  opacity: 0.83;
  border-radius: 4px;
  margin: 0 5% 5% 5%;
}

.pf-info-button {
  width: 45px;
  height: 31px;
  background: url(/di-gi/images/info-button.png);
  background-repeat: no-repeat;
  cursor: pointer;
}

.pf-search-button {
  width: 45px;
  height: 35px;
  background: url(/di-gi/images/search.png);
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: 5px 5px;
}

#team {
}

.team-container {
  height: 580px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.team-content {
  height: 420px;
  width: 47vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 0 0 20px;
}

.team-picture {
  width: 44vw;
  padding: 0 3vw 0 0;
}

.team-picture img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.team-content-title {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  color: #4a4a4a;
}

.team-line {
  width: 20%;
  border-bottom: 8px solid var(--main-blue);
}

.team-content-text {
  /* width: 556px; */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #9b9b9b;
}

.read-more-team-inner {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #f9f6e5;
  text-transform: uppercase;
  cursor: pointer;
}

.read-more-team-outer {
  display: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #f9f6e5;
  text-transform: uppercase;
  cursor: pointer;
}

.read-more-button-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 50px;
  background: #2b4074;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.read-more-button-outer {
  display: none;
  width: 250px;
  height: 50px;
  background: #2b4074;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

#latest-news {
  background: #f9f6e5;
}

.latest-news-container {
  height: 1044px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.latest-news-title {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: var(--main-blue);
  text-transform: capitalize;
  width: 100%;
}

.latest-news-title-line {
  width: 20%;
  border-bottom: 8px solid var(--main-blue);
}

.latest-news-content {
  height: 744px;
  width: 1150px;
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  justify-content: flex-start;
}

.blog {
  position: relative;
  width: 260px;
  margin-bottom: 30px;
  border-radius: 4px;
  cursor: pointer;
}

.blog:hover .blog-text {
  position: absolute;
  color: #fff;
  bottom: 26px;
  background-color: var(--main-blue);
}

.blog:hover {
  box-shadow: inset 0 0 0 200px rgba(43, 64, 116, 0.3);
  outline: 10px solid #2b4074;
  outline-offset: -8px;
}

.blog-text {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 40px;
  background-color: #fff;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
  color: #4a4a4a;
  padding: 10px 0 0 20px;
  box-sizing: border-box;
}

.blog-1 {
  background: url(/di-gi/images/news-1.png);
  height: 431px;
}

.blog-2 {
  background: url(/di-gi/images/news-2.png);
  height: 342px;
}

.blog-3 {
  background: url(/di-gi/images/news-3.png);
  height: 384px;
}

.blog-4 {
  background: url(/di-gi/images/news-4.png);
  height: 211px;
}

.blog-5 {
  background: url(/di-gi/images/news-5.png);
  height: 167px;
}

.blog-6 {
  background: url(/di-gi/images/news-6.png);
  height: 342px;
}

.blog-7 {
  background: url(/di-gi/images/news-7.png);
  height: 198px;
}

.blog-8 {
  background: url(/di-gi/images/news-8.png);
  height: 437px;
}

#testimonial {
  /* height: 480px; */
}

.testimonial-1 {
  display: flex;
  flex-direction: column;
}

.testimonial-slide {
  display: none;
}

.testimonial-quote {
  background: url(/di-gi/images/qoute.png);
  background-repeat: no-repeat;
  width: 38px;
  margin: 80px auto 10px auto;
  text-align: center;
  height: 50px;
}

.testimonial-text {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #4a4a4a;
  margin: 0px auto 30px auto;
}

.blue-span {
  color: #2b4074;
  font-weight: 600;
}

.testimonial-author {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 2px;
  color: #4a4a4a;
}

.pagination-blue {
  display: flex;
  margin: 80px auto;
  flex-direction: row;
  justify-content: center;
}

.blue-oval {
  width: 14px;
  height: 14px;
  background: var(--main-blue);
  border-radius: 50%;
  margin: 0px 5px;
}

.blue-circle {
  width: 10px;
  height: 10px;
  border: 2px solid var(--main-blue);
  border-radius: 50%;
  margin: 0px 5px;
}

#footer {
  background-color: var(--main-blue);
  color: #fff;
  height: 728px;
}

.footer-logo {
  width: 200px;
  height: 100px;
  background-color: var(--main-blue);
  position: relative;
  background-image: url(/di-gi/images/logo.png);
  background-repeat: no-repeat;
  background-position: center -2px;
  top: -30px;
  margin: 0 auto;
}

.footer-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  /* or 89% */
  letter-spacing: 2px;
  color: #ffffff;
  width: 55%;
  padding-top: 80px;
}

.footer-social {
  display: flex;
  flex-wrap: nowrap;
  height: 63px;
  flex-direction: row;
  justify-content: space-around;
  box-sizing: border-box;
  margin: 70px 0;
}

.footer-social-fb {
  background-image: url(/di-gi/images/fb.png);
  border-top: 1px solid #7ebf84;
  border-bottom: 1px solid #7ebf84;
}

.footer-social-go {
  background-image: url(/di-gi/images/go.png);
  border: 1px solid #7ebf84;
}

.footer-social-tw {
  background-image: url(/di-gi/images/tw.png);
  border: 1px solid #7ebf84;
}

.footer-social-pi {
  background-image: url(/di-gi/images/pi.png);
  border-top: 1px solid #7ebf84;
  border-bottom: 1px solid #7ebf84;
}

.social-elem {
  background-repeat: no-repeat;
  background-position: center;
  width: 25%;
  height: 63px;
}

.footer-contacts {
  display: flex;
  flex-wrap: nowrap;
}

.footer-contacts-title {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
  color: #f9f6e5;
}

.footer-contacts {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  /* or 167% */
  color: #ffffff;
}

.footer-block {
  width: 25%;
}

.footer-block li {
  list-style-type: none;
}

.footer-block ul {
  padding: 0;
}

.footer-contacts-title {
  padding-bottom: 20px;
}

.whole-copyright {
  height: 42px;
  background-color: var(--bg-old-lace);
}

.copyright {
  width: 1138px;
  margin: 0 auto;
  display: flex;
  justify-content: end;
  align-items: center;
}

.button-up {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
  color: #4a4a4a;
  text-transform: uppercase;
  padding-right: 13px;
  cursor: pointer;
}

.grey-rect-button-up {
  position: relative;
  width: 18px;
  height: 18px;
  top: 14px;
  background: #969696;
  transform: rotate(45deg);
}

.yellow-rect-button-up {
  position: relative;
  width: 18px;
  height: 18px;
  top: -1px;
  background: #f9f6e5;
  transform: rotate(45deg);
}

.portfolioo {
  /* display: block;  */
  margin: 0 auto;
  background: linear-gradient(180deg, #2b4074 0%, rgba(43, 64, 116, 0) 100%);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  /* display: inline; */
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
  color: #2b4074;
}

.project img {
  max-width: 269px;
}

/* Large devices (laptops/desktops) */

@media only screen and (max-width: 1200px) {
  .container,
  .wide-container {
    max-width: 1038px;
    margin: 0 auto;
    padding: 0 10px 0 10px;
  }

  #services {
    height: 100%;
  }

  .services-container {
    flex-direction: column;
    align-items: center;
  }

  .service-before-items {
    width: 100%;
    height: 300px;
  }

  .service-logo {
    align-self: center;
  }

  .service-slogan {
    width: 100%;
  }

  .service-text-slogan {
    width: 551px;
  }

  .service-items {
    width: 100vw;
  }

  .service-1,
  .service-5 {
    border-left: none;
  }

  .service-4,
  .service-8 {
    border-right: none;
  }

  .recent-work {
    height: 970px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
  }

  #recent-work {
    background-image: linear-gradient(#2c4274, #fff);
  }

  .recent-content {
    width: 70%;
    height: 750px;
    flex-wrap: wrap;
  }

  .portfolio {
    width: 317px;
    height: 282px;
  }

  .portfolio-text {
    top: 310px;
  }

  .projects-container {
    max-width: 770px;
    margin: 0 auto;
    padding: 20px;
  }

  .team-container {
    flex-wrap: nowrap;
    max-width: 861px;
    height: 500px;
  }

  .latest-news-container {
    height: 1370px;
  }

  .latest-news-content {
    height: 1030px;
    width: 850px;
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    justify-content: flex-start;
  }

  .copyright {
    width: auto;
  }
}

@media only screen and (max-width: 1024px) {
  .container,
  .wide-container {
    max-width: 931px;
    margin: 0 auto;
    padding: 0 10px 0 10px;
  }

  .opacity {
    height: 618px;
  }

  .title-text {
    font-size: 84px;
    line-height: 84px;
    height: 180px;
  }

  .intro-text {
    width: 80%;
  }

  #services {
    height: 100%;
  }

  .services-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .service-before-items {
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .service-items {
    height: 545px;
    display: flex;
    flex-wrap: wrap;
  }

  .service-logo {
    align-self: center;
  }

  .service-slogan {
    width: 100%;
  }

  .service-text-slogan {
    width: 100%;
  }

  .service-items {
    width: 100vw;
  }

  .service-1,
  .service-5 {
    border-left: none;
  }

  .service-4,
  .service-8 {
    border-right: none;
  }

  .read-more-team-inner {
    display: none;
  }

  .read-more-team-outer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .read-more-button-inner {
    display: none;
  }

  .read-more-button-outer {
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .recent-content {
    width: 85%;
    height: 750px;
    flex-wrap: wrap;
  }

  .latest-news-content {
    height: 1100px;
    width: 850px;
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    justify-content: flex-start;
  }

  .latest-news-title {
    padding: 20px 0 20px 0;
  }

  .team-container {
    padding: 40px;
    height: 484px;
  }

  .team-content {
    height: auto;
  }
}

@media only screen and (max-width: 890px) {
  .container,
  .wide-container {
    max-width: 750px;
    margin: 0 auto;
  }

  .portfolio {
    width: 270px;
    height: 242px;
  }

  .portfolio-text {
    top: 270px;
  }

  .team-container {
    height: 400px;
  }

  .latest-news-container {
    height: 1770px;
  }

  .latest-news-content {
    height: 1450px;
    width: 550px;
  }

  #testimonial {
    /* height: 520px; */
  }

  #footer {
    height: 590px;
  }

  .footer-text {
    padding: 0;
  }
}

/* Medium devices (tablets portrait ) */
@media only screen and (max-width: 768px) {
  .container,
  .wide-container {
    max-width: 663px;
    margin: 0 auto;
  }

  .opacity {
    height: 465px;
  }

  .intro-text {
    width: 80%;
    padding: 0 0 40px 0;
  }

  .service-items {
    height: 1245px;
  }

  .service {
    width: 50%;
    height: auto;
  }

  .portfolio-text {
    font-size: 18px;
  }

  .team-container {
    height: auto;
  }

  #footer {
    height: 628px;
  }

  .footer-contacts {
    flex-wrap: wrap;
  }

  .footer-block {
    width: 50%;
  }

  .footer-block ul {
    padding: 0 0 20px 0;
  }

  .footer-text {
    padding: 100;
    width: 100%;
  }
}

@media only screen and (max-width: 720px) {
  .portfolio {
    width: 230px;
    height: 200px;
  }

  .container,
  .wide-container {
    max-width: 600px;
    margin: 0 auto;
  }

  .title-text {
    font-size: 60px;
    line-height: 60px;
    height: 100px;
  }

  .service-text {
    font-size: 20px;
  }

  .portfolio-text {
    font-size: 20px;
  }
}

/* Portrait phones*/
@media only screen and (max-width: 640px) {
  .container,
  .wide-container {
    max-width: 550px;
    margin: 0 auto;
  }

  .opacity {
    height: 386px;
  }

  .title-text {
    height: 115px;
    padding: 39px;
  }

  .intro-text {
    display: none;
  }

  .promo-container {
    flex-direction: column;
    justify-content: center;
    height: 232px;
  }

  .promo-content {
    text-align: center;
    padding: 0 0 20px 0;
  }

  .service-slogan,
  .service-text-slogan {
    text-align: center;
  }

  .service-text {
    font-size: 20px;
  }

  .recent-title:before {
    left: 41%;
    width: 18%;
  }

  .recent-content {
    width: 95%;
    height: 2460px;
  }

  .recent-work {
    height: 2700px;
  }

  .portfolio {
    width: 518px;
    height: 460px;
    background-size: cover;
  }

  .portfolio-text {
    top: auto;
    margin: 100% 0 0 0;
    font-size: 30px;
  }

  .portfolio:hover .portfolio-info {
    margin: -96% 5% 0 5%;
  }

  .team-container {
    flex-direction: column;
  }

  .team-picture {
    width: auto;
    padding: 0 0 50px 0;
  }

  .team-content {
    width: auto;
    align-items: center;
    padding: 0 0 50px 0;
  }

  .team-content-title {
    padding: 0 0 20px 0;
  }

  .team-content-text {
    width: 85vw;
    padding: 20px 0 0 0;
    text-align: center;
  }
}

@media only screen and (max-width: 580px) {
  .container,
  .wide-container {
    max-width: 90vw;
    margin: 0 auto;
  }

  .title-text {
    font-size: 44px;
    line-height: 44px;
  }

  .arrow {
    display: none;
  }

  .promo-container {
    height: 280px;
  }
  .promo-title,
  .promo-text {
    height: auto;
  }

  .portfolio-text {
    top: auto;
    margin: 490px 0 0 0;
    font-size: 30px;
  }

  .recent-content {
    width: 95%;
  }

  .latest-news-container {
    height: 3000px;
  }

  .latest-news-content {
    height: 3000px;
    width: 260px;
  }

  .latest-news-content {
    padding-top: 50px;
  }

  #testimonial {
    /* height: 620px; */
  }

  #footer {
    height: 682px;
  }
}

@media only screen and (max-width: 420px) {
  .recent-work {
    height: 2000px;
  }

  .portfolio:hover .portfolio-info {
    margin: -104% 5% 0 5%;
  }

  .recent-content {
    width: 90%;
    height: 1800px;
  }

  .portfolio {
    width: 340px;
    height: 320px;
  }

  .portfolio-text {
    margin: 360px 0 0 0;
  }
}

/* Phones*/
@media only screen and (max-width: 320px) {
  .container,
  .wide-container {
    max-width: 280px;
    margin: 0 auto;
  }

  .opacity {
    height: 193px;
  }

  .arrow,
  .read-more {
    display: none;
  }

  .title-text {
    font-size: 28px;
    line-height: 28px;
    height: 80px;
  }

  .service {
    width: 95%;
    height: auto;
    margin: 0 auto;
    border: 1px solid #f9f6e5;
  }

  .service-before-items {
    align-items: center;
  }

  .service-items {
    height: 2204px;
  }

  .recent-title {
    font-size: 30px;
    top: 30px;
  }

  .recent-work {
    justify-content: center;
    height: 1670px;
  }

  .recent-content {
    height: 1470px;
  }

  .portfolio {
    width: 280px;
    height: 250px;
  }

  .portfolio-text {
    margin: 290px 0 0 0;
  }

  .portfolio:hover .portfolio-info {
    margin: -114% 5% 0 5%;
  }

  .footer-text {
    text-align: center;
  }

  .social-elem {
    border: none;
  }

  #testimonial {
    /* height: 790px; */
  }

  #footer {
    height: 980px;
  }

  .footer-social {
    display: flex;
    height: 163px;
    flex-direction: column;
    box-sizing: border-box;
    margin: 20px 0;
    align-items: center;
  }

  .footer-contacts {
    flex-direction: column;
    align-items: center;
  }

  .footer-block {
    text-align: center;
  }

  .copyright {
    justify-content: center;
  }
}
